<div class="row well">
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>Users in database</dt>
                <dd>{{totalItems}}</dd>
            </dl>
        </div>
        <div class="col-md-3">
            <form class="form-search"  ng-submit="search()">
                <div class="input-group">
                      <input type="text" class="form-control" ng-model="keyword">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="search()" ng-disabled="!canSearch()">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </button>
                      </span>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>Users per page</dt>
                <dd>
                    <select class="input-mini" ng-model="itemsPerPageStr" ng-change="changePageVolume()">
                        <option value="5" ng-selected="itemsPerPage==5">5</option>
                        <option value="10" ng-selected="itemsPerPage==10">10</option>
                        <option value="20" ng-selected="itemsPerPage==20">20</option>
                        <option value="50" ng-selected="itemsPerPage==50">50</option>
                    </select>
                </dd>
            </dl>
        </div>
        <div class="col-md-3">
            <button class="btn" ng-click="new()">New User</button>
        </div>
</div>
<pagination ng-change="pageChanged()" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th column-header="Name" column-field="name" sorting-field="{{sortingField}}"  reverse="{{reverse}}" sort="sort(field)"></th>
        <th column-header="Telephone" column-field="telephoneNumber" sorting-field="{{sortingField}}" reverse="{{reverse}}" sort="sort(field)"></th>
        <th column-header="E-mail" column-field="email" sorting-field="{{sortingField}}" reverse="{{reverse}}" sort="sort(field)"></th>
        <th column-header="Contract" column-field="contractType" sorting-field="{{sortingField}}" reverse="{{reverse}}" sort="sort(field)"></th>
        <th column-header="Status" column-field="deleted" sorting-field="{{sortingField}}" reverse="{{reverse}}" sort="sort(field)"></th>
        <th>Planned</th>
        <th>Done</th>
        <th>Diff.</th>
        <th>Prev.Diff.</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users" ng-click="editUser(user.$id())">
        <td><img  width="50" height="50" ng-src="{{user.base64Image}}" class="img-polaroid"/></td>
        <td>{{user.name}}</td>
        <td>{{user.telephoneNumber}}</td>
        <td>{{user.email}}</td>
        <td>{{user.contractType}}</td>
        <td>
            <div ng-switch on="user.deleted">
                <div ng-switch-when="true">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
                <div ng-switch-default>
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </td>
        <td>{{user.plannedHours}}</td>
        <td>{{user.doneHours}}</td>
        <td>{{user.diffHours}}</td>
        <td>{{user.diffPrevHours}}</td>
        <td>
            <div ng-switch on="user.deleted">
                <div ng-switch-when="true">
                    <button class="btn btn-success" ng-click="restore(user, $index, $event)">Restore</button>
                </div>
                <div ng-switch-default>
                    <button class="btn btn-danger" ng-click="remove(user, $index, $event)">Remove</button>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<pagination ng-change="pageChanged()" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
