<div class="well">
    <form name="form" novalidate crud-edit="user" class="form-horizontal" role="form">
        <legend>User</legend>
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="email">E-mail</label>

                    <div class="col-sm-5">
                        <input class="form-control" type="email" id="email" name="email" ng-model="user.email" required
                               unique-email>
                    </div>
                    <span ng-show="showError('email', 'required')"
                          class="alert alert-danger">This field is required.</span>
                    <span ng-show="showError('email', 'email')" class="alert alert-danger">Please enter a valid email address.</span>
                    <span ng-show="showError('email', 'uniqueEmail')" class="alert alert-danger">This email address is not available.</span>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="name">Name</label>

                    <div class="col-sm-5">
                        <input class="form-control" type="text" id="name" name="name" ng-model="user.name" required>
                    </div>
                    <span ng-show="showError('name', 'required')"
                          class="alert alert-danger">This field is required.</span>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="password">Password</label>

                    <div class="col-sm-5">
                        <input class="form-control" type="password" id="password" name="password"
                               ng-model="user.password"
                               required>
                    </div>
                    <span ng-show="showError('password', 'required')"
                          class="alert alert-danger">This field is required.</span>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="passwordRepeat">Password (repeat)</label>

                    <div class="col-sm-5">
                        <input class="form-control" type="password" id="passwordRepeat" name="passwordRepeat"
                               ng-model="password" required validate-equals="user.password">
                    </div>
                    <span ng-show="showError('passwordRepeat', 'equal')" class="alert alert-danger">Passwords do not match.</span>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-2 control-label" for="admin">Admin</label>

                    <div class="col-sm-5">
                        <input id="admin" class="checkbox-inline" type="checkbox" ng-model="user.admin">
                    </div>
                </div>
                <div ng-if="!user.admin">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="street">Street</label>

                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="street" name="street" ng-model="user.street"
                                   required>
                        </div>
                        <span ng-show="showError('street', 'required')" class="alert alert-danger">This field is required.</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="address">Address</label>

                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="address" name="address" ng-model="user.address">
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="plz">PLZ</label>

                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="plz" name="plz" ng-model="user.plz" required>
                        </div>
                        <span ng-show="showError('plz', 'required')"
                              class="alert alert-danger">This field is required.</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="city">City</label>

                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="city" name="city" ng-model="user.city" required>
                        </div>
                        <span ng-show="showError('city', 'required')"
                              class="alert alert-danger">This field is required.</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="telephoneNumber">Telephone number</label>

                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="telephoneNumber" name="telephoneNumber"
                                   ng-model="user.telephoneNumber" required>
                        </div>
                        <span ng-show="showError('telephoneNumber', 'required')"
                              class="alert alert-danger">This field is required.</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Transport type</label>

                        <div class="col-sm-5">
                            <label class="radio-inline">
                                <input name="transportType" type="radio" ng-model="user.transportType" value="bicycle"
                                       ng-required="!user.transportType">Bicycle
                            </label>
                            <label class="radio-inline">
                                <input name="transportType" type="radio" ng-model="user.transportType" value="auto"
                                       ng-required="!user.transportType">Auto
                            </label>
                        </div>
                        <span ng-show="showError('transportType', 'required')"
                              class="alert alert-danger">This field is required.</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Telephone type</label>

                        <div class="col-sm-5">
                            <label class="radio-inline">
                                <input name="telephoneType" type="radio" ng-model="user.telephoneType" value="ios"
                                       ng-required="!user.telephoneType">IOS
                            </label>
                            <label class="radio-inline">
                                <input name="telephoneType" type="radio" ng-model="user.telephoneType" value="android"
                                       ng-required="!user.telephoneType">Android
                            </label>
                        </div>
                        <span ng-show="showError('telephoneType', 'required')"
                              class="alert alert-danger">This field is required.</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="iban">IBAN</label>

                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="iban" name="iban" ng-model="user.iban" required>
                        </div>
                        <span ng-show="showError('iban', 'required')"
                              class="alert alert-danger">This field is required.</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label" for="bic">BIC</label>

                        <div class="col-sm-5">
                            <input class="form-control" type="text" id="bic" name="bic" ng-model="user.bic" required>
                        </div>
                        <span ng-show="showError('bic', 'required')"
                              class="alert alert-danger">This field is required.</span>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-2 control-label">Contract type</label>

                        <div class="col-sm-5">
                            <label class="radio-inline">
                                <input name="contractType" type="radio" ng-model="user.contractType" value="minijob"
                                       ng-required="!user.contractType">Minijob
                            </label>
                            <label class="radio-inline">
                                <input name="contractType" type="radio" ng-model="user.contractType" value="flexible"
                                       ng-required="!user.contractType">Flexible
                            </label>
                        </div>
                        <span ng-show="showError('contractType', 'required')"
                              class="alert alert-danger">This field is required.</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <input type="file" style="display:none"
                       id="file" name='file' onchange="angular.element(this).scope().fileChanged(this)"/>
                <img width="200" height="200" ng-src="{{user.base64Image}}" onclick="$('#file').click();"
                     class="img-polaroid pull-right"/>
            </div>
        </div>
        <hr>
        <crud-buttons></crud-buttons>
    </form>
</div>