<ul class="nav navbar-nav pull-right">
    <li class="dropdown" ng-class="{open:isProfileOpen}" ng-show="isAuthenticated()">
        <a id="profilemenu" role="button" class="dropdown-toggle" ng-click="isProfileOpen=!isProfileOpen">{{currentUser.name}}<b
                class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="profilemenu">
            <li><a tabindex="-1" href="/profile" ng-click="isProfileOpen=false">Edit profile</a></li>
            <li>
                <a href="#" tabindex="-1" ng-click="logout();isProfileOpen=false;">
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
            </li>
        </ul>
    </li>
    <li ng-hide="isAuthenticated()">
        <form class="navbar-form">
            <button class="btn login" ng-click="login()">
                <span class="glyphicon glyphicon-log-in"></span> Log in
            </button>
        </form>
    </li>
</ul>